# Backend REST API endpoint (without trailing slash)
VITE_API_URL=https://cvconnect.onrender.com/api

# Backend WebSocket server endpoint (without trailing slash)
VITE_WEBSOCKET_URL=https://cvconnect.onrender.com
